
p {
    margin-bottom: 3rem;
  }

  .responsive-table {
    overflow: hidden;
    overflow-x: auto;
  }
  
table {
  max-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;
    border: 0.1rem solid var(--gray-color);
}

tfoot td, table th {
  background: var(--gray-color);
}